* {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}
html {
    font-size: 62.5%;
}
header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav-bar ul {
    display: flex;
    align-items: center;
}
.nav-bar ul li {
    list-style: none;
    margin-right: 30px;
}
.nav-bar a {
    text-decoration: none;
    color: black;
}
header nav li a:hover {
    text-decoration: underline;
}
.icon-menu {
    background-image: url("./images/Apps.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #5f6368;
}
.profile-menu {
    background-image: url("./images/Jose-David.jpg");
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}
.main-content {
    display: grid;
    place-items: center;
}
figure {
    width: 400px;
    height: 170px;
}

figure img {
    width: 100%;
    height: auto;
}
.input  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    height: 46px;
    border: 1px solid #DFE1E5;
    border-radius: 35px;
}
.input:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
}
.search-icon {
    background-image: url("./images/Search.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 10px;
}
.mic-icon {
    background-image: url("./images/Microphone.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 10px;
}
.mic-icon:hover {
    cursor: pointer;
}
.input input {
    border-style: none;
    width: 90%;
    height: 80%;
}
.input input:focus-visible {
    outline: none;
}
.button-section {
    margin-top: 35px;
}
.buttons button {
    border-style: none;
    background-color: #F8F9FA;
    padding: 10px 20px;
    margin: 0 5px 10px;
    border-radius: 5px;
}
.buttons button:hover {
    cursor: pointer;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
.language-offered p a {
    text-decoration: none;
    color: #640DB3;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    color: #70757a;
}
.country {
    padding: 10px;
    border-bottom: 1px solid #DADCE0;
}
.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.footer__links div a {
    text-decoration: none;
    margin: 5px;
    color: #70757a;
}
.footer__links div a:hover {
    text-decoration: underline;
}















